@font-face { font-family: orator; src: url('images/orator.otf'); } 
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
    background-repeat: no-repeat;
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}